                      /* James Dumitru ITMD 362 */
/*-------------------------------------------------------------------*/

/*  Golden Section Modular Scale:
  https://www.modularscale.com/?25&px&1.618

*/

/*-------------------------------------------------------------------*/
                            /* For Mobile*/
/*-------------------------------------------------------------------*/
  h2{
    text-align: center;
    font-size: 25px; /* 2.5em*/
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Della Respira',monospace, serif;
  }

  body{
    text-align: center;
    color: #B2BEC3;
    background-color: #2D3436;
    font-family: 'Titillium Web',fantasy, sans-serif;
  }

  input{
    width: 50%;
    padding: 10px 20px; /*0.625em & 1.25em*/
    margin: 15px 0; /*0.938em*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px; /*0.5em*/
    box-sizing: border-box;
    text-align: center;
    font-family: 'Zilla Slab', regular, serif;

  }
/*For the spacing in between the form*/
  #date {
    padding-bottom: 15%;
  }
  #email {
    padding-bottom: 15%;
  }
  #phone {
    padding-bottom: 15%;
  }
  #code {
    padding-bottom: 15%;
  }
  #submit_button{
    background-color: #D1D7DB;
    color: gray;
    padding: 15px 32px; /*0.938em & 3.2em*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /*1.25em*/
    margin: 8px 4px; /*0.5em & 0.4*/
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px; /* 0.938em*/
    box-shadow: 0 9px #999; /*0 & 0.563em*/
  }

  .button:hover {background-color: #3e8e41}

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666; /*0 & 0.5em*/
    transform: translateY(4px); /* 0.4em*/
  }
/* for the last paragraph*/
  .mes  {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 18px; /*1.125em*/
  }


/*-------------------------------------------------------------------*/
                          /*For Tablet Viewing*/
/*-------------------------------------------------------------------*/
@media only screen and (min-width: 600px) {
  h2{
    text-align: center;
    font-size: 25px; /* 2.5em*/
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Della Respira', serif;
  }

  body{
    text-align: center;
    color: #B2BEC3;
    background-color: #2D3436;
    font-family: 'Titillium Web', sans-serif;
  }

  input{
    width: 50%;
    padding: 10px 20px; /*0.625em & 1.25em*/
    margin: 15px 0; /*0.938em*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px; /*0.5em*/
    box-sizing: border-box;
    text-align: center;
    font-family: 'Zilla Slab', regular, serif;

  }
  /*For the spacing in between the form*/
  #date {
    padding-bottom: 15%;
  }
  #email {
    padding-bottom: 15%;
  }
  #phone {
    padding-bottom: 15%;
  }
  #code {
    padding-bottom: 15%;
  }
  #submit_button{
    background-color: #D1D7DB;
    color: gray;
    padding: 15px 32px; /*0.938em & 3.2em*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /*1.25em*/
    margin: 8px 4px; /*0.5em & 0.4*/
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px; /* 0.938em*/
    box-shadow: 0 9px #999; /*0 & 0.563em*/
  }

  .button:hover {background-color: #3e8e41}

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666; /*0 & 0.5em*/
    transform: translateY(4px); /* 0.4em*/
  }
  /* for the last paragraph*/
  .mes  {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 18px; /*1.125em*/
  }
/*----------------------------------------------------------------------------*/
@media only screen and (max-width: 600px){
  h2{
    text-align: center;
    font-size: 25px; /* 2.5em*/
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Della Respira', serif;
  }

  body{
    text-align: center;
    color: #B2BEC3;
    background-color: #2D3436;
    font-family: 'Titillium Web', sans-serif;
  }

  input{
    width: 50%;
    padding: 10px 20px; /*0.625em & 1.25em*/
    margin: 15px 0; /*0.938em*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px; /*0.5em*/
    box-sizing: border-box;
    text-align: center;
    font-family: 'Zilla Slab', regular, serif;

  }
/*For the spacing in between the form*/
  #date {
    padding-bottom: 15%;
  }
  #email {
    padding-bottom: 15%;
  }
  #phone {
    padding-bottom: 15%;
  }
  #code {
    padding-bottom: 15%;
  }
  #submit_button{
    background-color: #D1D7DB;
    color: gray;
    padding: 15px 32px; /*0.938em & 3.2em*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /*1.25em*/
    margin: 8px 4px; /*0.5em & 0.4*/
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px; /* 0.938em*/
    box-shadow: 0 9px #999; /*0 & 0.563em*/
  }

  .button:hover {background-color: #3e8e41}

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666; /*0 & 0.5em*/
    transform: translateY(4px); /* 0.4em*/
  }
/* for the last paragraph*/
  .mes  {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 18px; /*1.125em*/
  }


/*-------------------------------------------------------------------*/
                              /*Desktop view*/
/*-------------------------------------------------------------------*/

@media only screen and (min-width: 600px) {

  h2{
    text-align: center;
    font-size: 25px; /* 2.5em*/
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Della Respira', serif;
  }

  body{
    text-align: center;
    color: #B2BEC3;
    background-color: #2D3436;
    font-family: 'Titillium Web', sans-serif;
  }

  input{
    width: 50%;
    padding: 10px 20px; /*0.625em & 1.25em*/
    margin: 15px 0; /*0.938em*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px; /*0.5em*/
    box-sizing: border-box;
    text-align: center;
    font-family: 'Zilla Slab', regular, serif;

  }
/*For the spacing in between the form*/
  #date {
    padding-bottom: 15%;
  }
  #email {
    padding-bottom: 15%;
  }
  #phone {
    padding-bottom: 15%;
  }
  #code {
    padding-bottom: 15%;
  }
  #submit_button{
    background-color: #D1D7DB;
    color: gray;
    padding: 15px 32px; /*0.938em & 3.2em*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /*1.25em*/
    margin: 8px 4px; /*0.5em & 0.4*/
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px; /* 0.938em*/
    box-shadow: 0 9px #999; /*0 & 0.563em*/
  }

  .button:hover {background-color: #3e8e41}

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666; /*0 & 0.5em*/
    transform: translateY(4px); /* 0.4em*/
  }
/* for the last paragraph*/
  .mes  {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 18px; /*1.125em*/
  }
/*----------------------------------------------------------------------------*/

  @media only screen and (max-width: 600px){
    h2{
      text-align: center;
      font-size: 25px; /* 2.5em*/
      padding-top: 5%;
      padding-bottom: 2%;
      font-family: 'Della Respira', serif;
    }

    body{
      text-align: center;
      color: #B2BEC3;
      background-color: #2D3436;
      font-family: 'Titillium Web', sans-serif;
    }

    input{
      width: 50%;
      padding: 10px 20px; /*0.625em & 1.25em*/
      margin: 15px 0; /*0.938em*/
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 8px; /*0.5em*/
      box-sizing: border-box;
      text-align: center;
      font-family: 'Zilla Slab', regular, serif;

    }
  /*For the spacing in between the form*/
    #date {
      padding-bottom: 15%;
    }
    #email {
      padding-bottom: 15%;
    }
    #phone {
      padding-bottom: 15%;
    }
    #code {
      padding-bottom: 15%;
    }
    #submit_button{
      background-color: #D1D7DB;
      color: gray;
      padding: 15px 32px; /*0.938em & 3.2em*/
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px; /*1.25em*/
      margin: 8px 4px; /*0.5em & 0.4*/
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border-radius: 15px; /* 0.938em*/
      box-shadow: 0 9px #999; /*0 & 0.563em*/
    }

    .button:hover {background-color: #3e8e41}

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666; /*0 & 0.5em*/
      transform: translateY(4px); /* 0.4em*/
    }
  /* for the last paragraph*/
    .mes  {
      padding-top: 5%;
      padding-bottom: 5%;
      font-size: 18px; /*1.125em*/
    }
}
}
}
}
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
